<div style="width:800px;margin:0px auto;">

<%= link_to "返回二维码列表", cms_weixin_two_dimension_codes_path %><br><br>

<h1>创建二维码</h1>

<%= form_tag(cms_weixin_two_dimension_codes_path) do -%>

  <div class="row">
    <div class="large-4 columns">
      <label class="text-right inline">二维码场景</label>
    </div>
    <div class="large-8 columns">
      <input type="text" name="two[scene_str]">
    </div>
  </div>
  <div class="row">
    <div class="large-4 columns">
      <label class="text-right inline">描述</label>
    </div>
    <div class="large-8 columns">
      <input type="text" name="two[action_info]">
    </div>
  </div>
  <div class="row">
    <div class="large-4 columns">
      <label class="text-right inline">公众号名称</label>
    </div>
    <div class="large-8 columns">
      <select name="two[app_id]">
        <% @public_accounts.each do |public_account| %>
          <option value="<%= public_account.weixin_app_id %>"><%= public_account.weixin_number %></option>
        <% end %>
      </select>
    </div>
  </div>

  <input type="submit" name="commit" class="button" value="创建">
<% end %>

</div>