<% session_content = get_session_content params[:session_content_id] %>

<h3 class="text-center">新增素材</h3>

<div class="row">
  <div class="columns small-6 text-right">
    <label class="inline">素材标签</label>
  </div>
  <div class="columns small-3 end">
    <%= text_field_tag :tags, get_show_value(params[:tags], v1:session_content[:tags], v2:@media_resource.tags) %>
  </div>
</div>

<div class="row">
  <div class="columns small-6 text-right">
    <label class="inline">素材类型</label>
  </div>
  <div class="columns small-3 end">
    <%= select_tag :category_name, options_from_collection_for_select(::EricWeixin::MediaResource::RESOURCE_TYPE, 'first', 'second', get_show_value(params[:category_name], v1:session_content[:category_name], v2:@media_resource.category_name)) %>
  </div>
</div>

<div class="row">
  <div class="columns small-6 text-right">
    <label class="inline">请选择图片</label>
  </div>
  <div class="small-6 columns" style="position: relative">
    <input class="fake diff" type="text" value="<%= @media_resource.wechat_link %>" disabled="disabled" style="background-color: white" name="txt_image"/>
    <label class="upload diff" name="file">选择文件</label>
    <input class="file diff" type="file" name="image_file" onchange="txt_image.value=this.value"/>
  </div>
</div>

<div class="row">
  <div class="columns small-6 text-right">
    <label class="inline">选择公众号</label>
  </div>
  <div class="columns small-3 end">
    <%= select_tag :public_account_id, options_from_collection_for_select(::EricWeixin::PublicAccount.all, 'id', 'name', get_show_value(params[:public_account_id], v1:session_content[:public_account_id], v2:@media_resource.public_account_id)) %>
  </div>
</div>

<style>
    .diff {
        position: absolute;
    }
    .fake.diff{
        background-color:white;
        width:450px;
        disabled:disabled;
        z-index: 0
    }
    .upload.diff{
        color: #000;
        top:10px;
        left:470px;
        z-index: 0
    }
    .file.diff{
        opacity:0;
        width:500px;
        height: 27px;
        z-index: 1
    }
</style>