<!DOCTYPE html>
<html>
<head>
  <title>EricWeixin</title>
  <%= stylesheet_link_tag    "eric_weixin/application", media: "all" %>
  <%= javascript_include_tag "eric_weixin/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
