<h1>
  微信多图文列表
</h1>
<a class="button" href="/eric_weixin/cms/weixin/news_datas/new">新建</a>
<table>
  <thead>
  <tr>
    <th>
      id
    </th>
    <th>
      title
    </th>
    <th>
      匹配关键词
    </th>
    <th>
      查看
    </th>
    <th>
      编辑
    </th>
  </tr>
  </thead>
  <tbody>
  <%=render :partial => "/eric_weixin/cms/weixin/news_datas/news_data", collection: @news_datas %>
  </tbody>
</table>