<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title></title>
  <meta name="viewport" content="width=640,user-scalable=no,target-densitydpi=320" />
</head>
<body class="Paddmem backeb">
<%= yield %>
</body>
</html>